asgiref==3.8.1
certifi==2023.11.17
cfbd==4.5.2
contourpy==1.2.0
cycler==0.12.1
Django==5.0.4
fonttools==4.47.0
gunicorn==22.0.0
joblib==1.4.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
psycopg2-binary==2.9.9
./pygskin-0.1.0-py3-none-any.whl
pyparsing==3.1.1
PyQt6==6.6.1
PyQt6-Qt6==6.6.3
PyQt6-sip==13.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
scikit-learn==1.4.0
scipy==1.13.0
six==1.16.0
sqlparse==0.4.4
threadpoolctl==3.4.0
tzdata==2023.3
urllib3==2.1.0
wheel==0.43.0
