/* Style constants */
:root {
    --color-1: #0267c1;
    --color-2: #0181d6;
    --color-3: #efa00b;
    --color-4: #d65108;
    --color-5: #591f0a;
    
    --sideline-green: #006106;
    --turf-green: #008705;
    --goalpost-yellow: #ecec17;
    --pylon-orange: #ff2a00;

    --background-color: rgb(241, 241, 241);
    --button-color: #0056b3;
    --button-hover-color: #007bff;
    --text-color: rgb(32, 32, 32);

    --form-background: #f8f9fa;
    --form-outline: 1px solid #ccc;

    --mobile-view-max-width: 768px;

    font-family: Tahoma, sans-serif;
}

/* Common styles */
header {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: var(--sideline-green);
    /* color: white; */
    padding: 10px 0px;
    font-size: x-large;
    width: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    top: 0;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: var(--turf-green);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

html {
    background-color: var(--sideline-green);
}

a:hover {
    color: var(--goalpost-yellow)
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    outline-color: #fff;
    outline-width: 2px;
    margin: 15px;
}

body > a {
    color: var(--color-1);
}

body > a:visited {
    color: var(--color-5);
}

.container {
    padding: 20px 7vw;
}

h1 {
    color: var(--goalpost-yellow);
    text-shadow: 1px 1px 2px #000;
    font-size: xx-large;
}

h2 {
    color: var(--pylon-orange);
    font-size: x-large;
}

h2 a:visited {
    color: var(--pylon-orange);
}

h3 {
    color: var(--text-color);
    font-size: larger;
}

/* Navbar styles */
.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--turf-green);
    padding: 10px 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: var(--sideline-green);
    text-shadow: 1px 1px 1px #000;
    font-size: x-large;
    text-decoration: none;
}

.navbar a:visited {
    color: var(--sideline-green);
}

.navbar a:hover {
    color: var(--goalpost-yellow);
}

.navbar img {
    max-height: 80px;
    min-height: 30px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

/* Table styles */
.scrollable-table { /* Div to wrap the table */
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.scrollable-table table {
    border: 1px solid #000;
}

.scrollable-table th, td {  /* Cells of the table */
    min-width: 50px;
    max-width: fit-content;
    padding: 5px 5px;
}

.scrollable-table thead {
    background: #000;
    color: #fff;
}

.scrollable-table thead tr {
    background: #000;
    color: #fff;
}

.scrollable-table tbody tr:nth-of-type(odd) {
    background: #b2b2b2;
}

.scrollable-table tbody tr:nth-of-type(even) {
    background: #fff;
}

/* Forms styles */
form {
    background: var(--form-background);
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 100%; /* full width */
    padding: 8px;
    border: var(--form-outline);
    border-radius: 4px;
    box-sizing: border-box; /* include padding and border in width */
    margin-top: 5px;
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: larger;
}

/* Styling for submit buttons */
button[type="submit"] {
    background-color: var(--button-hover-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--button-color);
}

/* Enhanced dropdown styling */
select.form-control {
    height: 40px;
    background-color: #fff;
    color: #333;
}

select.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.centered-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a.button-link, a.button-link:visited {
    display: inline-block;
    background-color: var(--button-hover-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 50%;
    max-width: 75vw;
}

a.button-link:hover, a.button-link:focus {
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
    flex-direction: row;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 10px;
}

.form-group:last-child {
    padding-right: 0;
}


@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        padding-right: 0;
        width: calc(100%);
    }
}

/* Ensure inputs take full width of their container */
input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    border: var(--form-outline);
    border-radius: 4px;
}

/* Ensure inputs and selects take full width of their container */
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: var(--form-outline);
    border-radius: 4px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-row-single {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    flex: 1
}

.form-group {
    flex: 1;
    padding-right: 5px; /* slight padding to align with the split form groups */
}

.form-checkbox-and-label {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    margin-bottom: 15px;
}

.vertically-centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vertically-centered-container img {
    max-width: 200px;
    transition: transform 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.vertically-centered-container img:hover {
    transition: scale(1.1);
}

.js-plotly-plot {
    max-width: 500px;
    min-width: 300px;
    max-height: 400px;
    min-height: 300px;
}
