/* Style constants */
:root {
    --color-1: #0267c1;
    --color-2: #0181d6;
    --color-3: #efa00b;
    --color-4: #d65108;
    --color-5: #591f0a;
    
    --sideline-green: #006106;
    --turf-green: #008705;
    --goalpost-yellow: #ecec17;
    --pylon-orange: #ff2a00;

    --background-color: rgb(255, 255, 255);
    /* --background-color: var(--sideline-green); */
    /* --text-color: #fff; */
    --text-color: rgb(32, 32, 32);
    --mobile-view-max-width: 725px;
}

/* Common styles */
header {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: var(--sideline-green);
    /* color: white; */
    padding: 10px 0px;
    font-size: x-large;
    width: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    top: 0;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: var(--turf-green);
    color: #fff;
}

html {
    background-color: var(--sideline-green);
}

a {
    color: #fff;
}

a:visited {
    color: #3d1972;
}

a:hover {
    color: var(--goalpost-yellow)
}

body {
    /* background-color: var(--turf-green); */
    background-color: var(--background-color);
    color: var(--text-color);
    outline-color: #fff;
    outline-width: 2px;
}

body a {
    color: var(--color-1);
}

body a:visited {
    color: var(--color-5);
}

.container {
    padding: 20px 7vw;
}

h1 {
    color: var(--goalpost-yellow);
    text-shadow: 1px 1px 2px #000;
    font-size: xx-large;
}

h2 {
    color: var(--pylon-orange);
    font-size: x-large;
}

h3 {
    color: var(--text-color);
    font-size: larger;
}

/* Navbar styles */
.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--turf-green);
    padding: 10px 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: var(--sideline-green);
    text-shadow: 1px 1px 1px #000;
    font-size: x-large;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--goalpost-yellow);
}

.navbar img {
    max-height: 80px;
    min-height: 30px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

/* Table styles */
.scrollable-table { /* Div to wrap the table */
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

.scrollable-table table {
    border: 1px solid #000;
}

.scrollable-table th, td {  /* Cells of the table */
    min-width: 50px;
    max-width: fit-content;
    padding: 5px 5px;
}

.scrollable-table thead {
    background: #000;
    color: #fff;
}

.scrollable-table thead tr {
    background: #000;
    color: #fff;
}

.scrollable-table tbody tr:nth-of-type(odd) {
    background: #b2b2b2;
}

.scrollable-table tbody tr:nth-of-type(even) {
    background: #fff;
}
