<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pygskin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="http://localhost:3000/script.js" data-website-id="2579f732-ceef-480a-970d-5944f3bc1155"></script>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    {% block content %}
    <!-- Content from child templates will go here -->
    {% endblock %}
</div>

{% include 'footer.html' %}

</body>
</html>
