<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pygskin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="https://data.pygskin.com/script.js" data-website-id="1059a491-f1c7-4a53-bf3e-2993d1a435d9"></script>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    {% block content %}
    <!-- Content from child templates will go here -->
    {% endblock %}
</div>

{% include 'footer.html' %}

</body>
</html>
