<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pygskin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% comment %} <script defer src="http://localhost:3000/script.js" data-website-id="2579f732-ceef-480a-970d-5944f3bc1155"></script> {% endcomment %}
    <script defer src="https://data.pygskin.com/script.js" data-website-id="1059a491-f1c7-4a53-bf3e-2993d1a435d9" data-domains="pygskin.com"></script>
</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    {% block content %}
    <!-- Content from child templates will go here -->
    {% endblock %}
</div>

{% include 'footer.html' %}
</body>
</html>
