<!-- navbar.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<div class="navbar">
    <div class="navbar-logo-text">
        <a href="{% url 'index' %}" data-umami-event="pygskin-navbar-link">
            <img class="navbar-logo" src="{% static 'Pygskin-logo.png' %}" alt="Pygskin logo">
        </a>
        <!-- <p class="navbar-subtext">BY SCOTT RATCHFORD</p> -->
    </div>

    <div class="navbar-menu">
        <a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="{% url 'cybercoach_select' %}" class="{% if request.path == '/cybercoach_select/' %}active{% endif %}">Cybercoaches</a>
        <a href="{% url 'coach_stats' %}" class="{% if request.path == '/coach_stats/' %}active{% endif %}">Coach Statistics</a>
        <a href="{% url 'conference_analysis' %}" class="{% if request.path == '/conference_analysis/' %}active{% endif %}">Conference Realignment</a>
        <a href="{% url 'colley_matrix' %}" class="{% if request.path == '/colley_matrix/' %}active{% endif %}">Team Rankings</a>
        <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
    </div>

    <div class="navbar-menu">
        <a href="{% url 'index' %}" class="{% if request.path == '/signup/' %}active{% endif %}">Sign Up</a>
    </div>
</div>
