<!-- navbar.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<style>
    @media (max-width: 768px) {
        #navbar-links, #navbar-signup {
            display: none;
        }

        #hamburger-menu {
            display: block;
            font-size: xx-large;
            cursor: pointer;
        }

    }
    @media (min-width: 769px) {
        #navbar-links, #navbar-signup {
            display: flex;
        }

        #hamburger-menu {
            display: none;
        }

        .side-nav {
            display: none;
        }
    }

    /* Side Navigation Menu */
    .sidenav {
        height: 100%; /* Full-height */
        width: 0; /* Initially, width is 0 */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        top: 0;
        left: 0;
        background-color: white; /* White background color */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* Smooth transition */
        padding-top: 60px; /* Place content 60px from the top */
    }

    .sidenav a {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <div class="navbar-logo-text">
        <a href="{% url 'index' %}" data-umami-event="pygskin-navbar-link">
            <img class="navbar-logo" src="{% static 'Pygskin-logo.png' %}" alt="Pygskin logo">
        </a>
        <!-- <p class="navbar-subtext">BY SCOTT RATCHFORD</p> -->
    </div>

    <div class="navbar-menu" id="navbar-links">
        <a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="{% url 'cybercoach_select' %}" class="{% if request.path == '/cybercoach_select/' %}active{% endif %}">Cybercoaches</a>
        <a href="{% url 'coach_stats' %}" class="{% if request.path == '/coach_stats/' %}active{% endif %}">Coach Statistics</a>
        <a href="{% url 'conference_analysis' %}" class="{% if request.path == '/conference_analysis/' %}active{% endif %}">Conference Realignment</a>
        <a href="{% url 'colley_matrix' %}" class="{% if request.path == '/colley_matrix/' %}active{% endif %}">Team Rankings</a>
        <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
    </div>

    <div class="navbar-menu" id="navbar-signup">
        <a href="{% url 'index' %}" class="{% if request.path == '/signup/' %}active{% endif %}">Sign Up</a>
    </div>

    <div class="hamburger-menu" id="hamburger-menu" onclick="openNav()">
        &#9776; <!-- Hamburger icon -->
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="{% url 'cybercoach_select' %}" class="{% if request.path == '/cybercoach_select/' %}active{% endif %}">Cybercoaches</a>
        <a href="{% url 'coach_stats' %}" class="{% if request.path == '/coach_stats/' %}active{% endif %}">Coach Statistics</a>
        <a href="{% url 'conference_analysis' %}" class="{% if request.path == '/conference_analysis/' %}active{% endif %}">Conference Realignment</a>
        <a href="{% url 'colley_matrix' %}" class="{% if request.path == '/colley_matrix/' %}active{% endif %}">Team Rankings</a>
        <a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a>
        <a href="{% url 'index' %}" class="{% if request.path == '/signup/' %}active{% endif %}">Sign Up</a>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>