{% extends "base.html" %}

{% load static %}

{% block title %}About Pygskin{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">

<h1>About Pygskin</h1>

<p>Pygskin is a college football analysis project that uses machine learning and data science techniques to reveal interesting trends and information about the sport we love. Scott Ratchford created the Pygskin project during the 2023 FBS postseason and began posting his findings online soon afterwards.</p>

<h2>About Scott</h2>

<p>Scott Ratchford is a software developer based in the United States. He graduated from the University of Alabama with his Bachelor's degree in Computer Science in 2024. He is finishing his Master's in Business Administration there in 2025. Scott is a full-stack developer with a passion for college football. He combined his interests to make this website and showcase his talents. You can visit his website <a href="https://scottratchford.com" data-umami-event="scott-website-link">here</a>.</p>

<h2>Contact Scott</h2>

<div class="vertically-centered-container">
    <a href="mailto:contact@scottratchford.com" style="font-size:xx-large;margin:0px;">Email Scott</a>
    <a href="https://www.linkedin.com/in/scott-ratchford/" data-umami-event="linkedin-link"><img src="{% static "linkedin.png" %}" alt="Linkedin logo"></a>
    <a href="https://github.com/KyberCritter" data-umami-event="github-link"><img src="{% static "github.png" %}" alt="GitHub logo"></a>
    <a href="https://www.youtube.com/@scottratchford6119" data-umami-event="youtube-link"><img src="{% static "youtube.png" %}" alt="YouTube logo"></a>
</div>

<h2>Technical Details</h2>

<p>The machine learning models used in this project were created using data from <a href="https://collegefootballdata.com">CFBD</a> and technology from <a href="https://scikit-learn.org">scikit-learn</a>. Check back later for more details about the website's full technology stack and methodology!</p>

<h2>Special Thanks</h2>

<p>Thank you to <a href="https://www.linkedin.com/in/will-heldman/">Will Heldman</a> for cybersecurity consulting. Will Heldman has a Bachelor's degree in Cybersecurity from the University of Alabama and helped ensure the integrity of the Pygskin project.</p>

<p>Thank you to Riley Durbin, Brooks Seale, and Daniel Cain for their help on the user interface and upcoming features. They recently graduated from The University of Alabam with degrees in Computer Science and worked on Pygskin as a part of their senior design project.</p>

{% endblock %}
