{% extends "base.html" %}

{% block title %}Coach Stats{% endblock %}

{% block content %}

<style>

    #select-form {
        display: flex;
        align-items: center;
        background-color: #008703;
        color: #FFCC00;
        font-family: 'Fugaz One', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        height: 41px; /* must be 41 or greater unless you change size of select box */
        width: 100%;
        border: 40px;
        border-radius: 40px;
        padding: 0px;
    }
    
    #id_coach {
        border: none;
        border-radius: 5px;
        background-color: #008703;
        color: #FFCC00;
        font-family: 'Fugaz One', sans-serif;
        text-transform: uppercase;
        padding: 10px;
        flex-grow: 1;
        width: 100%;
        max-width: 1000px;
        margin-top: 15px;
        margin-left: 15px;
    }
    
    #coach-info {
        font-family: 'DM Sans', sans-serif;
        margin-left: 5px;
    }
    .color-box {
        background-color: #006106; /* Change this to any color you like */
        color: white; /* Text color */
        padding: 20px; /* Spacing inside the box */
        border-radius: 8px; /* Rounded corners */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }
    
    .scrollable-table {
        flex: 1;
        overflow-x: auto;
        max-height: 400px;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    /* Table styles */

    .scrollable-table table {
        width: 100%;
        border-collapse: separate; /* Ensures border-radius will work */
        border-spacing: 10px; /* Adds space between table cells */
        background-color: #006106; /* Background for the entire table */
        border-radius: 15px; /* Rounds the corners of the table */
        padding: 10px;
        margin: auto; /* Centers the table */
    }

    /* Header cell styles */

    .scrollable-table th {
        background-color: #008703;
        color: #FFCC00;
        font-family: 'Fugaz One', sans-serif;
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
        text-transform: uppercase;
    }

    /* Body cell styles */

    .scrollable-table td {
        background-color: #F1EFEF;
        font-family: 'Fugaz One', sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
        text-transform: uppercase;
        color: #006106;
    }

    /* Odd rows */

    .scrollable-table tbody tr:nth-of-type(odd) td {
        background-color: #F1EFEF;
        color: #008703;
    }

    /* Even rows */

    .scrollable-table tbody tr:nth-of-type(even) td {
        background-color: #F1EFEF;
        color: #008703;
    }

    #select-form label {
        display: none;
    }

   /* 
    !! setting the errorlist to display none -
        bit of a weird fix, before you select a coach it says
        "* this field is required", you can delete it and see
    */
   .errorlist {
        display: none;
    }

</style>

<!-----------------------------------HTML--------------------------------------->

<!--Green Coach Select Box-->
<div class="color-box">
    <section id="coach-stats">
        <h2>
            <form action="{% url 'coach_stats' %}" id="select-form" method="GET">
                {{ coach_form.as_p }}
            </form>
        </h2>
    </section>

    {% if coach_data %}

    <p id="coach-info"> {{ coach_data.biography }} </p>

</div>

    <section id="coach-table-info">

        <h2>INCLUDED SEASONS</h2>
        <div class="scrollable-table">
        {% if coach_seasons %}
            <table>
                <thead>
                    <tr>
                    {% for key in coach_seasons.0.keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in coach_seasons %}
                    <tr>
                        {% for value in item.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No items found.</p>
        {% endif %}
        </div>

        <h2>PLAYCALLING TENDENCIES</h2>
        <div class="vertically-aligned-container">
            
            <h3>PLAY CALLS ON 4TH DOWN</h3>
            <div id="playDist4thDownChart"></div>
            <h3>PLAY CALLS ON ALL DOWNS</h3>
            <div id="playDistChart"></div>
        </div>

        <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" 
            integrity="sha384-H7GB7Kme/VbPI/0S4LNq7OixFNVRgRGE8kyqTntBuiXle1KBm8KWLQh/Ah6bXCYW" 
            crossorigin="anonymous">
        </script>
        
        <script>
            var all_play_dist = [{
                values: {{ play_dist|safe }},
                labels: {{ play_types|safe }},
                marker: { colors: {{ colors|safe }} },
                type: 'pie'
            }];
            var play_dist_4th = [{
                values: {{ play_dist_4th_down|safe }},
                labels: {{ play_types|safe }},
                marker: { colors: {{ colors|safe }} },
                type: 'pie'
            }];

            var layout = {
                plot_bgcolor: 'rgba(0, 0, 0, 0)',
                paper_bgcolor: 'rgba(0, 0, 0, 0)',
                margin: {
                    l: 20,
                    r: 20,
                    b: 20,
                    t: 20
                },
            };

            document.addEventListener('DOMContentLoaded', function() {
                Plotly.newPlot("playDistChart", all_play_dist, layout);
                Plotly.newPlot("playDist4thDownChart", play_dist_4th, layout);
            });
        </script>


    </section>
    {% endif %}
    
   <script>
        document.addEventListener('DOMContentLoaded', function () {
            const coachSelect = document.querySelector('#id_coach');
            if (coachSelect) {
               coachSelect.addEventListener('change', function () {
                   document.getElementById('id_coach').submit();
               });
            }
        });
    </script>

{% endblock %}
