{% extends "base.html" %}

{% block title %}{{ coach_name }} Statistics{% endblock %}

{% block content %}

<head>
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" 
        integrity="sha384-H7GB7Kme/VbPI/0S4LNq7OixFNVRgRGE8kyqTntBuiXle1KBm8KWLQh/Ah6bXCYW" 
        crossorigin="anonymous">
    </script>
</head>

<h1>{{ coach_name }} Statistics {% if first_year == last_year %}({{ first_year }}){% else %}({{ first_year }}-{{ last_year }}){% endif %}</h1>

{% if coach_bio|length > 0 %}
<h2>Coach Information</h2>
<p>{{ coach_bio }}</p>
{% endif %}

<h2>Included Seasons</h2>
<div class="scrollable-table">
{% if coach_seasons %}
    <table>
        <thead>
            <tr>
            {% for key in coach_seasons.0.keys %}
                <th>{{ key }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in coach_seasons %}
            <tr>
                {% for value in item.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found.</p>
{% endif %}
</div>

<h2>Playcalling Tendencies</h2>
<div class="vertically-aligned-container">
    <h3>Play Calls on All Downs</h3>
    <div id="playDistChart"></div>
    <h3>Play Calls on 4th Down</h3>
    <div id="playDist4thDownChart"></div>
</div>

<script>
    var all_play_dist = [{
        values: {{ play_dist|safe }},
        labels: {{ play_types|safe }},
        marker: { colors: {{ colors|safe }} },
        type: 'pie'
    }];
    var play_dist_4th = [{
        values: {{ play_dist_4th_down|safe }},
        labels: {{ play_types|safe }},
        marker: { colors: {{ colors|safe }} },
        type: 'pie'
    }];

    var layout = {
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)',
        margin: {
            l: 20,
            r: 20,
            b: 20,
            t: 20
        },
    };

    document.addEventListener('DOMContentLoaded', function() {
        Plotly.newPlot("playDistChart", all_play_dist, layout);
        Plotly.newPlot("playDist4thDownChart", play_dist_4th, layout);
    });
</script>

{% endblock %}
