<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybercoach of {{ coach_name }}</title>
</head>
<body>
    {% include "navbar.html" %}

    <div class="stat-display">
        <h1>Cybercoach of {{ coach_name }} {% if first_year == last_year %}({{ first_year }}){% else %}({{ first_year }}-{{ last_year }}){% endif %}</h1>
        <p>This section is a placeholder.</p>
    </div>

    {% include "footer.html" %}
</body>
</html>
