{% extends "base.html" %}

{% block title %}{{ model_type }} Cybercoach of {{ coach_name }}{% endblock %}

{% block content %}

<h1>Cybercoaches Selection</h1>
<p>Select a coach to see their details and proceed with further analysis.</p>

<section id="cybercoaches">
    <form action="{% url 'cybercoach_select' %}" id="cybercoach-form" method="GET">
        {{ cybercoach_form.as_p }}
    </form>
</section>

{% if coach_name %}
<section id="coach-info">
    <h2>{{ model_type }} Cybercoach of {{ coach_name }} {% if first_year == last_year %}({{ first_year }}){% else %}({{
        first_year }}-{{ last_year }}){% endif %}</h2>
    <p>This Cybercoach is a {{ model_type }} model trained on 80% of {{ coach_name }}'s offensive play calls from the
        beginning of the {{ first_year }} season to the end of the {{ last_year }} season. 20% of the plays were
        withheld from the training set in order to be used in the evaluation of the model. This model was <strong>{{
            model_accuracy }}%</strong> accurate on the evaluation data set.</p>
    <p><strong>Next, <a href="#play-input">input a custom scenario</a> OR <a href="#coach-selector">pick a year and a
                game</a>.</strong></p>
</section>
{% endif %}

{% if custom_scenario_form %}
<section id="play-input-section">
    <div class="play-input" id="play-input">
        <h2>Create a Custom Scenario</h2>
        <p>Fill out the options below to predict what play {{ coach_name }} would call in a brand-new scenario of your
            choice.</p>
        <form action="{% url 'custom_prediction' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    {{ custom_scenario_form.yard_line.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.down.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.distance.as_field_group }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ custom_scenario_form.period.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.minutes_remaining_in_quarter.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.seconds_remaining_in_quarter.as_field_group }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ custom_scenario_form.offense_score.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.defense_score.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.offense_timeouts.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.defense_timeouts.as_field_group }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ custom_scenario_form.rushing_yards_per_attempt.as_field_group }}
                </div>
                <div class="form-group">
                    {{ custom_scenario_form.passing_yards_per_attempt.as_field_group }}
                </div>
            </div>
            <button type="submit" data-umami-event="custom-scenario-submit">Submit</button>
        </form>
    </div>
</section>
{% endif %}

{% if opponents_by_year %}
<section id="coach-selector-section">
    <div class="coach-selector" id="coach-selector">
        <h2>Select a Year and Game</h2>
        <p>Conference, non-conference, and conference championships (if applicable) are available. Postseason (playoff
            and bowl) games will be added at a later date. Week 0 games are listed as Week 1.</p>
        <form action="{% url 'prediction' %}" method="POST">
            {% csrf_token %}

            <input type="hidden" id="cybercoach_id" name="cybercoach_id" value="1">
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="year-select">Choose a year:</label>
                    <select id="year-select" name="year" onchange="updateOpponentDropdown()" class="form-control">
                        {% for year, x in opponents_by_year.items %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="opponent-select">Choose a game:</label>
                    <select id="opponent-select" name="opponent" class="form-control">
                        <!-- Options will be added here based on the first dropdown's selection -->
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="drive-select">Choose a drive:</label>
                    <select id="drive-select" name="drive-number" class="form-control">
                        <!-- Options will be dynamically populated here -->
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
{% endif %}

{{ opponents_by_year|json_script:"opponentYearsData" }}

<script>
    let drivesByYearAndWeek = {};

    function groupDrivesByYearAndWeek(playData, firstYear) {
        let currentYear = firstYear;  // Start with the first year
        let previousWeek = 0;         // Initialize a variable to track the last week processed

        // Iterate over the playData["drive_number"] and playData["week"]
        for (let i = 0; i < playData["drive_number"].length; i++) {
            let week = playData["week"][i];        // Get the current week
            let drive = playData["drive_number"][i]; // Get the drive number

            // If the current week is less than the previous week, increment the year
            if (week < previousWeek) {
                currentYear += 1;
            }

            // Initialize the current year in the drivesByYearAndWeek object if it doesn't exist
            if (!drivesByYearAndWeek[currentYear]) {
                drivesByYearAndWeek[currentYear] = {};
            }

            // Initialize the current week in the current year if it doesn't exist
            if (!drivesByYearAndWeek[currentYear][week]) {
                drivesByYearAndWeek[currentYear][week] = new Set();
            }

            // Add the drive number to the corresponding year and week
            drivesByYearAndWeek[currentYear][week].add(drive);

            // Update previousWeek to the current week for the next iteration
            previousWeek = week;
        }
    }

    const firstYear = {{ first_year }};
    const playData = JSON.parse('{{ play_data|escapejs }}');

    groupDrivesByYearAndWeek(playData, firstYear);

    document.addEventListener('DOMContentLoaded', function () {
        const cybercoachSelect = document.querySelector('#id_cybercoach');
        if (cybercoachSelect) {
            cybercoachSelect.addEventListener('change', function () {
                document.getElementById('cybercoach-form').submit();
            });
            updateOpponentDropdown();
        }
        var cybercoachId = getURLParameter('cybercoach'); // Get the 'cybercoach' id from URL
        if (cybercoachId) {
            document.getElementById('cybercoach_id').value = cybercoachId; // Set the value of the hidden input field to pass cybercoach ID to prediction page
        }
    });

    function updateOpponentDropdown() {
        const yearSelect = document.getElementById('year-select');
        const opponentSelect = document.getElementById('opponent-select');
        const selectedYear = yearSelect.value;

        // Access the embedded JSON data
        const opponentYears = JSON.parse(document.getElementById('opponentYearsData').textContent);
        const opponents = opponentYears[selectedYear];

        // Clear existing options in the opponent dropdown
        while (opponentSelect.firstChild) {
            opponentSelect.removeChild(opponentSelect.firstChild);
        }

        // Populate the opponent dropdown with new options
        for (var i = 0, l = opponents.length; i < l; i++) {
            var opponent = opponents[i][0];
            var week = opponents[i][1];
            const option = document.createElement('option');
            option.value = [opponent, week];
            option.text = opponent.concat(" (Week ", week, ")");
            opponentSelect.appendChild(option);
        }

        const selectedWeek = opponentSelect.value.split(",")[1].trim(); // Get the week from the selected opponent
        updateDriveDropdown(selectedYear, selectedWeek);

        opponentSelect.addEventListener('change', function () {
            const selectedWeek = opponentSelect.value.split(",")[1].trim(); // Get the week from the selected opponent
            updateDriveDropdown(selectedYear, selectedWeek);
        });
    }

    function updateDriveDropdown(selectedYear, selectedWeek) {
        const driveSelect = document.getElementById('drive-select');

        // Clear existing options in the drive dropdown
        while (driveSelect.firstChild) {
            driveSelect.removeChild(driveSelect.firstChild);
        }

        // Retrieve drives for the selected year and week from the pre-stored data
        const drivesForWeek = drivesByYearAndWeek[selectedYear] && drivesByYearAndWeek[selectedYear][selectedWeek];

        if (drivesForWeek) {
            const uniqueDrives = [...drivesForWeek]; // Convert Set to Array
            for (let drive of uniqueDrives) {
                const option = document.createElement('option');
                option.value = drive;
                option.text = `${drive}`;
                driveSelect.appendChild(option);
            }
        }
    }

    function getURLParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
</script>

{% endblock %}