<html>
    {% load static %}
    <body>
        <h1>Cybercoach of {{ coach_name }}</h1>
        <h2>Items Table</h2>
        {% if coach_seasons %}
            <table>
                <thead>
                    <tr>
                        {% for key in coach_seasons.0.keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in coach_seasons %}
                        <tr>
                            {% for value in item.values %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No items found.</p>
        {% endif %}

        {% include "footer.html" %}
    </body>
</html>
