{% extends "base.html" %}

{% block title %}{{ model_type }} Cybercoach of {{ coach_name }}{% endblock %}

{% block content %}

{% load static %}

<!-- Load CSS file for this page's styling -->
<link rel="stylesheet" type="text/css" href="{% static 'cybercoach_select.css' %}">

<!-- Main container for the page -->
<div class="cybercoach-container">
    <div class="cybercoach-header">
        <!-- Form to select a Cybercoach from the dropdown list -->
        <!-- This form is populated from forms.py -->
        <section id="cybercoaches">
            <form action="{% url 'cybercoach_select' %}" id="cybercoach-form"
                style="background-color:#008703; margin-top: 0px; margin-bottom: 0px; padding-top:5px; padding-bottom: 5px;"
                method="GET">
                {{ cybercoach_form.as_p }}
            </form>
        </section>
    </div>

    <!-- Display the selected Cybercoach information -->
    <div class="cybercoach-description">
        {% if coach_name %}
        <section id="coach-info">
            <!-- Display coach information -->
            <p>This {{ coach_name }} {% if first_year and last_year %}
                {% if first_year == last_year %}
                ({{ first_year }})
                {% else %}
                ({{ first_year }}-{{ last_year }})
                {% endif %}
                {% endif %} Cybercoach is a {{ model_type }} model trained on 80% of {{ coach_name }}'s offensive play
                calls from the
                beginning of the {{ first_year }} season to the end of the {{ last_year }} season. 20% of the plays were
                withheld from the training set in order to be used in the evaluation of the model. This model was {{ model_accuracy }}% accurate on the evaluation data set.
                <br /><br />Create a custom scenario or choose a historic drive to see what play this {{ coach_name }}
                Cybercoach would call.
            </p>
        </section>
        {% endif %}
    </div>
</div>

<!-- Display the two forms to choose a prediction or custom prediction -->
{% if custom_scenario_form and opponents_by_year %}
<section id="play-input-section">
    <div class="forms-container">
        <div>
            <form action="{% url 'custom_prediction' %}" class="play-input" id="play-input"
                style="background-color:#006106; border-radius:20px;" method="POST">
                {% csrf_token %}
                <!-- Hidden input field for the cybercoach id so that the prediction pages know which cybercoach to use -->
                <input type="hidden" id="cybercoach_id2" name="cybercoach_id" value="1">
                <div class="first-column">
                    <div class="form-row" style="margin-bottom:0px;">
                        <div class="form-group" style="padding:0px !important;">
                            <h2>CREATE A CUSTOM SCENARIO</h2>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <h2>OFFENSE</h2>
                            {{ custom_scenario_form.offense_score.as_field_group }}
                            {{ custom_scenario_form.offense_timeouts.as_field_group }}
                        </div>
                        <div class="form-group">
                            <h2>DEFENSE</h2>
                            {{ custom_scenario_form.defense_score.as_field_group }}
                            {{ custom_scenario_form.defense_timeouts.as_field_group }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <h2>BALL MOVEMENT</h2>
                            {{ custom_scenario_form.rushing_yards_per_attempt.as_field_group }}
                            {{ custom_scenario_form.passing_yards_per_attempt.as_field_group }}
                        </div>
                    </div>
                </div>
                <div class="second-column">
                    <div class="form-row">
                        <div class="form-group">
                            <h2>GAME</h2>
                            {{ custom_scenario_form.yard_line.as_field_group }}
                            <label id="will-be-for-down">DOWN:</label>
                            <div class="down-and-distance">
                                {{ custom_scenario_form.down.as_field_group }}
                                {{ custom_scenario_form.distance.as_field_group }}
                            </div>
                            {{ custom_scenario_form.period.as_field_group }}
                            <label id="will-be-for-time">TIME REMAINING:</label>
                            <div class="time-remaining" style="height: 55px;">
                                {{ custom_scenario_form.minutes_remaining_in_quarter.as_field_group }}
                                {{ custom_scenario_form.seconds_remaining_in_quarter.as_field_group }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="submit-btn"
                            data-umami-event="custom-scenario-submit">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
        <span class="or-text">-OR-</span>

        <div>
            <div class="coach-selector" id="coach-selector">
                <form action="{% url 'prediction' %}" style="background-color:#006106; border-radius:20px;"
                    method="POST">
                    {% csrf_token %}
                    <!-- Hidden field for cybercoach id -->
                    <input type="hidden" id="cybercoach_id" name="cybercoach_id" value="1">
                    <div class="form-row">
                        <div class="form-group" style="padding:0px !important;">
                            <h2>SEE MACHINE LEARNING PREDICTIONS FROM A HISTORIC DRIVE</h2>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="year-select">YEAR</label>
                            <select id="year-select" name="year" onchange="updateOpponentDropdown()"
                                class="form-control">
                                {% for year, x in opponents_by_year.items %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="opponent-select">GAME</label>
                            <select id="opponent-select" name="opponent" class="form-control">
                                <!-- Options will be added here based on the first dropdown's selection -->
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="drive-select">DRIVE TO PREDICT</label>
                            <select id="drive-select" name="drive-number" class="form-control">
                                <!-- Options will be dynamically populated here -->
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Uses django to get the variables from the database, see views.py -->
{{ opponents_by_year|json_script:"opponentYearsData" }}

<script type="text/javascript">
    // These variables need to be defined here, because there are errors when the django formatted variables are defined in external JS files
    const firstYear = {{ first_year }};
    const playData = JSON.parse('{{ play_data|escapejs }}');
</script>
<!-- Load the external JS file -->
<script type="text/javascript" src="{% static 'cybercoach_select.js' %}"></script>


{% endblock %}