{% extends "base.html" %}

{% block title %}Select a Drive{% endblock %}

{% block content %}

<h1>{{ model_type }} Cybercoach of {{ coach_name }} {% if first_year == last_year %}({{ first_year }}){% else %}({{ first_year }}-{{ last_year }}){% endif %}</h1>
<p>This Cybercoach is a {{ model_type }} model trained on 80% of {{ coach_name }}'s offensive play calls from the beginning of the {{ first_year }} season to the end of the {{ last_year }} season. 20% of the plays were withheld from the training set in order to be used in the evaluation of the model. This model was {{ model_accuracy }}% accurate on the evaluation data set.</p>
<p>You selected {{ current_team }} vs. {{ selected_opponent }} in week {{ selected_week }} of {{ selected_year }}.</p>
<p>The next step is to pick a drive to predict the play calls for.</p>

<div class="coach-selector">
    <h2>Select a Game to Predict</h2>
    <form action="{% url 'prediction' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="drive-select">Choose a drive:</label>
                <select id="drive-select" name="drive-number" class="form-control">
                    {% for x in drive_numbers %}
                        <option value="{{ x }}">{{ x }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
