{% extends "base.html" %}

{% block content %}

<section id="profile-section">
    <h1>Welcome, {{ first_name }} {{ last_name }}</h1>

    <h2>Email:</h2>
    <p>{{ email }}</p>

    <h2>Available Cerdits:</h2>
    <p>10,000</p>

    <h2>Active Bets:</h2>
    <table border="1" class="scrollable-table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Bet Type</th>
                <th>Credits Bet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ALA v TENN</td>
                <td>Spread: -3/-110</td>
                <td>100</td>
            </tr>
            <tr>
                <td>ORE v PUR</td>
                <td>Total: u58.5/-105</td>
                <td>2500</td>
            </tr>
            <tr>
                <td>AUB v MIZ</td>
                <td>ML: -200</td>
                <td>500</td>
            </tr>
        </tbody>
    </table>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

    <p>In the future, I will add options to change username/email/password</p>
</section>

{% endblock %}